# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folder
.vs/

# Visual Studio Code folder
.vscode/

# Database files (örneğin SQLite gibi)
*.db

# Environment variable files
.env

# Docker related files
Dockerfile.*
docker-compose.override.yml

# Logs and temporary files
*.log
*.tmp
